@import url("http://fonts.cdnfonts.com/css/cocogoose");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");

:root {
  --primary-color: #ec5242;
  --secondary-color: #272a31;
  --text-color: #585858;
  --background-color: #d3d3d3;
  --white: #fff;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: "Lato", sans-serif;
}

.navigation ul li a {
  text-decoration: none;
  color: var(--text-color);
}

.navigation ul li a:hover {
  color: var(--primary-color);
}

hr {
  width: 10%;
  height: 0.1875rem !important;
  margin: auto;
  background-color: var(--primary-color);
}

.banner {
  background-image: url("images/world.png");
  background-repeat: no-repeat;
  padding: 1.25rem 0;
}

.banner h1 {
  font-family: "Lato", sans-serif;
  color: var(--primary-color);
  font-weight: 900;
  padding-top: 1.25rem;
  padding-left: 1.25rem;
  padding-bottom: 1.25rem;
  font-size: 2.1875rem;
  width: 100%;
  text-transform: uppercase;
}

.banner .banner-summary {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  border: 0.0625rem solid var(--white);
  padding: 1.25rem;
  margin: 0 0.9375rem 0 1.25rem;
}

.banner .white-bg {
  background-color: var(--white);
  border: 0.0625rem solid var(--text-color);
}

.about p {
  margin: 1.25rem;
  font-family: "Lato", sans-serif;
  text-align: center;
}

.banner .banner-summary p {
  margin-bottom: 0;
}

.banner span {
  text-transform: lowercase;
  margin-left: 3.125rem;
  text-decoration: underline;
}

.banner h2 {
  font-family: "COCOGOOSE", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 1.25rem;
  padding-left: 1.25rem;
  font-size: 1.5rem;
}

.banner .location {
  text-transform: capitalize;
  font-family: "Lato", sans-serif;
  margin-left: 1.25rem;
  font-size: 1.25rem;
  padding-top: 1.25rem;
}

.programs {
  background-image: url("images/bg.png");
  padding-bottom: 1.25rem;
}

.programs .go {
  display: none;
}

.programs h3 {
  text-align: center;
  color: var(--background-color);
  padding-top: 1.25rem;
}

.programs button {
  border: 0;
  background-color: var(--primary-color);
  color: var(--background-color);
  height: 5.5rem;
  font-size: 1.375rem;
  padding: 0.8125rem;
  margin: 1.8125rem 2.75rem;
  text-transform: capitalize;
  font-family: "Lato", sans-serif;
}

.speakers {
  background-color: var(--white);
}

.speakers h3 {
  text-align: center;
  color: var(--text-color);
  font-size: 1.875rem;
  padding-top: 2.0625rem;
  text-transform: capitalize;
  font-family: "Lato", sans-serif;
}

.speaker-summary {
  font-style: italic;
  color: var(--primary-color);
}

.speakers-lineout hr {
  margin-left: 0;
  background-color: var(--text-color);
}

.speakers button {
  width: 90%;
  border: 0.0625rem solid var(--text-color);
  background-color: var(--white);
  padding: 1.25rem 0.3125rem;
  margin: 3.125rem 1rem;
  border-radius: 0.3125rem;
  font-size: 1.5625rem;
  color: var(--text-color);
  font-family: "Lato", sans-serif;
}

.about {
  background-color: var(--white);
  font-family: "Lato", sans-serif;
  font-weight: 900;
  padding-bottom: 0.3125rem;
}

.about h3 {
  font-size: 1.625rem;
  margin: 2.4375rem 2.5rem 2.25rem 2.9375rem;
  padding-top: 1.875rem;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  text-align: center;
}

.past-events {
  border-top: 0.0625rem solid var(--text-color);
  background-color: var(--white);
  padding-bottom: 1.25rem;
}

.past-events h3 {
  font-size: 1.3125rem;
  margin: 2.625rem 1.1875rem 2.25rem 1.1875rem;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  text-align: center;
}

.past-events .event-summary {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  border: 0.0625rem solid var(--white);
  padding: 1.5625rem;
  font-size: 1.0625rem;
  margin: 0 0.9375rem 0 1.25rem;
  text-align: center;
}

.event-list {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr;
  gap: 1.25rem;
  margin: 1.875rem;
  height: 100%;
}

#event-0 {
  background-image: url("images/set.jpg");
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 2;
  height: 15.625rem;
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0.125rem 0.25rem 0.375rem black);
}

#event-1 {
  background-image: url("images/center.jpg");
  grid-row-start: 2;
  grid-column-start: 1;
  grid-row-end: 3;
  grid-column-end: 2;
  height: 15.625rem;
  background-repeat: no-repeat;
  background-size: cover;
  filter: drop-shadow(0.125rem 0.25rem 0.375rem black);
}

.event-list .bg-color {
  background-color: #ec5242b8;
  height: 100%;
  padding-top: 6.5625rem;
  font-size: 1.875rem;
  text-align: center;
  color: var(--white);
}

.partner {
  background-color: var(--text-color);
  height: 100%;
  padding-bottom: 1.25rem;
}

.partner h3 {
  color: var(--background-color);
  font-size: 1.875rem;
  padding-top: 2.625rem;
  text-align: center;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  padding-bottom: 1.25rem;
}

.about-logo {
  border: 0.0625rem solid var(--background-color);
  margin: 1.25rem;
}

/* Mobile Nav */
.open {
  position: relative;
  top: 0.9375rem;
  left: 1.5625rem;
  width: 3.125rem;
  height: 3.125rem;
  display: block;
  cursor: pointer;
  transition: opacity 0.2s linear;
}

.open:hover {
  opacity: 0.8;
}

.open span {
  display: block;
  float: left;
  clear: both;
  height: 0.625rem;
  width: 3.125rem;
  border-radius: 2.5rem;
  background-color: var(--secondary-color);
  position: absolute;
  right: 0.1875rem;
  top: 0.1875rem;
  overflow: hidden;
  transition: all 0.4s ease;
}

.open span:nth-child(1) {
  margin-top: 0.625rem;
  z-index: 9;
}

.open #mobile-nav {
  display: block;
  float: left;
  clear: both;
  height: 0.625rem;
  width: 3.125rem;
  background-color: var(--secondary-color);
  right: 0.1875rem;
  top: 0.1875rem;
  position: absolute;
  overflow: hidden;
  transition: all 0.4s ease;
  margin-top: 1.5625rem;
  border-radius: 0.625rem;
}

.open span:nth-child(3) {
  margin-top: 2.5rem;
}

.sub-menu {
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  height: 0;
  width: 0;
  left: 0;
  top: 0;
  position: relative;
  background-color: var(--primary-color);
  border-radius: 50%;
  z-index: 18;
  overflow: hidden;
}

.sub-menu li {
  display: block;
  float: right;
  clear: both;
  height: auto;
  margin-right: -10rem;
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.oppenned li {
  margin-right: 10.5rem;
}

.sub-menu li:first-child {
  margin-top: 11.25rem;
}

.sub-menu li:nth-child(1) {
  transition-delay: 0.05s;
}

.sub-menu li:nth-child(2) {
  transition-delay: 0.1s;
}

.sub-menu li:nth-child(3) {
  transition-delay: 0.15s;
}

.sub-menu li:nth-child(4) {
  transition-delay: 0.2s;
}

.sub-menu li:nth-child(5) {
  transition-delay: 0.25s;
}

.sub-menu li a {
  color: var(--white);
  font-family: "Lato", Arial, Helvetica, sans-serif;
  font-size: 1rem;
  width: 100%;
  display: block;
  float: left;
  line-height: 2.5rem;
}

.oppenned .sub-menu {
  opacity: 1;
  height: 25rem;
  width: 25rem;
  position: fixed;
}

.oppenned span:nth-child(1),
.oppenned span:nth-child(3) {
  z-index: 100;
  transform: rotate(45deg);
}

.oppenned span:nth-child(1) {
  transform: rotate(45deg) translateY(0.75rem) translateX(0.75rem);
}

.oppenned #mobile-nav {
  position: fixed;
  height: 25rem;
  width: 25rem;
  left: -10rem;
  top: -10rem;
  border-radius: 50%;
  background-color: var(--text-color);
  overflow: visible;
}

.oppenned span:nth-child(3) {
  transform: rotate(-45deg) translateY(-0.625rem) translateX(0.625rem);
}

.off {
  display: none;
}

@media screen and (max-width: 768px) {
  nav {
    display: none;
  }

  .program-lineout {
    display: grid;
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: 1fr;
    gap: 0.625rem;
    height: 100%;
    padding: 1.25rem;
  }

  #program-0 {
    background-color: rgba(68, 68, 68, 0.64);
    grid-row: 1;
    grid-column: 1;
    display: flex;
  }

  .off.off {
    display: block;
  }

  .footer img {
    height: 6.25rem;
  }

  .partner-list img {
    height: 2.625rem;
  }

  .about-logo img {
    height: 7.5rem;
    margin-left: 6.25rem;
  }

  #program-0 img {
    height: 3.75rem;
    margin-top: 12%;
    margin-left: 0.3125rem;
  }

  .footer p {
    font-size: 0.8125rem;
    padding-top: 2.3125rem;
    margin: 0.875rem;
    font-family: "Lato", sans-serif;
    color: var(--text-color);
  }

  #program-0 p {
    margin: 1.25rem 0.3125rem;
    font-size: 1.0625rem;
    color: var(--background-color);
  }

  #program-0 .title {
    color: var(--primary-color);
    margin-top: 16%;
    margin-bottom: 12%;
  }

  #program-1 {
    background-color: rgba(68, 68, 68, 0.64);
    grid-row: 2;
    grid-column: 1;
    display: flex;
  }

  #program-1 img {
    height: 3.75rem;
    margin-top: 12%;
    margin-left: 0.3125rem;
  }

  #program-1 p {
    margin: 1.25rem 0.3125rem;
    font-size: 1.0625rem;
    color: var(--background-color);
  }

  #program-1 .title {
    color: var(--primary-color);
    margin-top: 16%;
    margin-bottom: 12%;
  }

  #program-2 {
    background-color: rgba(68, 68, 68, 0.64);
    grid-row: 3;
    grid-column: 1;
    display: flex;
  }

  #program-2 img {
    height: 3.75rem;
    margin-top: 12%;
    margin-left: 0.3125rem;
  }

  #program-2 p {
    margin: 1.25rem 0.3125rem;
    font-size: 1.0625rem;
    color: var(--background-color);
  }

  #program-2 .title {
    color: var(--primary-color);
    margin-top: 16%;
    margin-bottom: 12%;
  }

  #program-3 {
    background-color: rgba(68, 68, 68, 0.64);
    grid-row: 4;
    grid-column: 1;
    display: flex;
  }

  #program-3 img {
    height: 3.75rem;
    margin-top: 12%;
    margin-left: 0.3125rem;
  }

  #program-3 p {
    margin: 1.25rem 0.3125rem;
    font-size: 1.0625rem;
    color: var(--background-color);
  }

  #program-3 .title {
    color: var(--primary-color);
    margin-top: 16%;
    margin-bottom: 12%;
  }

  #program-4 {
    background-color: rgba(68, 68, 68, 0.64);
    grid-row: 5;
    grid-column: 1;
    display: flex;
  }

  #program-4 img {
    height: 3.75rem;
    margin-top: 12%;
    margin-left: 0.3125rem;
  }

  #program-4 p {
    margin: 1.25rem 0.3125rem;
    font-size: 1.0625rem;
    color: var(--background-color);
  }

  #program-4 .title {
    margin-top: 16%;
    margin-bottom: 12%;
    color: var(--primary-color);
  }

  .speakers-lineout {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    height: 100%;
    gap: 1.875rem;
  }

  .speakers-lineout .only-desktop {
    display: flex;
  }

  .speakers-lineout img {
    height: 9.375rem;
    margin: 1.0625rem;
  }

  .speakers-lineout h3 {
    color: var(--secondary-color);
    text-align: left;
    font-family: "COCOGOOSE", sans-serif;
    font-size: 1.5625rem;
  }

  .speakers-lineout p {
    color: var(--secondary-color);
    font-family: "Lato", sans-serif;
  }

  .partner-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    justify-content: space-around;
  }

  .partner-list .stretch {
    height: 4.5rem;
  }

  .footer {
    display: flex;
    background-color: var(--white);
    padding: 1.3125rem 1.8125rem;
    justify-content: space-around;
  }
}

@media screen and (min-width: 768px) {
  .open {
    display: none;
  }

  .only-desktop {
    display: flex;
  }

  .social {
    background-color: var(--secondary-color);
    height: 2.5rem;
  }

  .social ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 9.375rem;
  }

  .social ul li {
    list-style: none;
    padding: 0.625rem;
  }

  .social ul li a {
    text-decoration: none;
    color: var(--background-color);
  }

  .navigation {
    display: flex;
    justify-content: space-around;
    background-color: var(--white);
    height: 6.25rem;
  }

  .navigation ul {
    display: flex;
    margin-top: 2.1875rem;
  }

  .navigation ul li {
    list-style: none;
    padding: 0.625rem;
  }

  .navigation ul li button {
    border: 0.1875rem solid var(--primary-color);
    background-color: var(--white);
    color: var(--primary-color);
    height: 3.125rem;
    margin-top: -0.9375rem;
  }

  .navImage {
    height: 5rem;
    margin-top: 0.625rem;
  }

  .banner {
    padding: 6.25rem 9.375rem;
  }

  .banner h1 {
    font-size: 4.375rem;
    width: 70%;
  }

  .banner .banner-summary {
    width: 50%;
    background-color: var(--white);
  }

  .banner h2 {
    font-size: 2.5rem;
  }

  .banner .location {
    font-size: 1.875rem;
  }

  .programs h3 {
    font-size: 1.875rem;
    padding-bottom: 1.25rem;
  }

  .programs .go {
    display: block;
    text-align: center;
    padding-top: 3.125rem;
  }

  .programs .go a {
    color: var(--background-color);
  }

  .programs button {
    display: none;
  }

  .program-lineout {
    display: flex;
    justify-content: center;
    margin: 0 9.375rem;
  }

  .p-cards {
    background-color: rgba(68, 68, 68, 0.64);
    text-align: center;
    padding: 0.625rem;
    margin: 0.3125rem;
  }

  .p-cards img {
    height: 5rem;
    margin-top: 1.25rem;
  }

  .p-cards .title {
    color: var(--primary-color);
    font-size: 1.25rem;
  }

  .p-cards p {
    color: var(--background-color);
  }

  .speakers-lineout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3.125rem;
    margin: 3.125rem 9.375rem;
  }

  .speakers-lineout img {
    height: 12.5rem;
    margin: 1.25rem;
  }

  .speakers-lineout h3 {
    color: var(--secondary-color);
    text-align: left;
    font-family: "COCOGOOSE", sans-serif;
    font-size: 1.5625rem;
  }

  .speakers-lineout p {
    color: var(--secondary-color);
    font-family: "Lato", sans-serif;
  }

  .speakers button {
    display: none;
  }

  .partner-list {
    display: flex;
    justify-content: space-around;
    margin: 3.125rem 9.375rem;
  }

  .partner-list img {
    height: 3.125rem;
  }

  .partner-list .stretch {
    height: 1.5625rem;
  }

  .footer {
    display: flex;
    justify-content: space-around;
    background-color: var(--secondary-color);
    height: 9.375rem;
  }

  .footer img {
    height: 6.25rem;
    margin-top: 1.5625rem;
    filter: grayscale(100%);
  }

  .footer p {
    color: var(--background-color);
    margin-top: 3.75rem;
  }

  .about {
    padding: 6.25rem 9.375rem;
  }

  .about h3 {
    font-size: 2.5rem;
  }

  .about p {
    font-size: 1.25rem;
  }

  .about-logo {
    text-align: center;
  }

  .about-logo img {
    height: 12.5rem;
  }

  .past-events {
    padding: 3.125rem 9.375rem;
  }

  .past-events h3 {
    font-size: 1.875rem;
  }

  .past-events .event-summary {
    font-size: 1.25rem;
  }

  .event-list {
    display: flex;
    justify-content: center;
  }

  #event-0 {
    width: 31.25rem;
  }

  #event-1 {
    width: 31.25rem;
  }
}